.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../picture/Fonnd.png);
  background-repeat: no-repeat;
  background-size: 110rem;
}
