.stockage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../picture/Fonnd.png);
  background-repeat: no-repeat;
  background-size: 110rem;
}

.mobile {
  width: 13rem;
}

.divContaine {
  display: flex;
  flex-direction: column;
  background-color: #ffffff60;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  width: 50rem;
  align-items: center;
}

.divContaine h1 {
  padding-bottom: 4rem;
}

.liste {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10rem;
  grid-row-gap: 1rem;
  text-align: justify;
}

.button {
  background-color: #fecb38;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 0.7rem;
  position: fixed;
  bottom: 2%;
  left: 2%;
}

.button:hover {
  transition: 1000ms;
  background-color: #8d2323;
}
