.survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../picture/Fonnd.png);
  background-repeat: no-repeat;
  background-size: 110rem;
}

.survey h1 {
  font-size: 3rem;
}

.divButton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.divButton button {
  font-size: 3rem;
  background-color: #fecb38;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
}

.divButton button:hover {
  transition: 1000ms;
  background-color: #233d8d;
}

.button1 {
  grid-area: 2 / 1 / 3 / 2;
}
.button2 {
  grid-area: 2 / 2 / 3 / 3;
}
